/growingnn.egg-info
/build
/dist
/work
/ignore
/result
/data
Pipfile
Pipfile.lock
pypi_desc.md
setup.py
pypi.info
test.py
*html
*png
*description.txt
*.pyc
*.vscode
deploy.sh
*here.json
*tmp.json
*resultGNN_model_hist